body {
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/austria_bridge.jpg");
    background-position: center 75%;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: smaller;
    width: 100%;
}

footer p {
    margin: 1em;
    display: inline-block;
}

footer p a {
    color: #777;
}

footer #copyright {
    float: left;
}

footer #bg-photo-credit {
    float: right;
}