body {
    margin: 0;

    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-shadow: 0 2px 8px var(--shadow-color);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/static/images/austria_bridge.jpg");
    background-position: center 75%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    font-size: smaller;
    font-weight: 300;
}

footer p {
    margin: 1em;
    display: inline-block;
}

footer p a {
    color: var(--secondary-color);
}

footer #copyright {
    float: left;
}

footer #bg-photo-credit {
    float: right;
}