:root {
    --primary-color: #333333;
    --primary-darker: #222222;

    --secondary-color: #ffffff;

    --tertiary-color: #258af6;
    --tertiary-darker: #2382e7;

    --error-color: #f55555;

    --shadow-color: #000000;
    --shadow-color-inverted: #ffffff;
}