:root {
    --primary-color: #333;
    --primary-darker: #222;

    --secondary-color: #fff;

    --tertiary-color: #258af6;
    --tertiary-darker: #2382e7;

    --error-color: #f55555;

    --shadow-color: #000;
    --shadow-color-inverted: #fff;
}