body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/static/images/austria_bridge.jpg");
    background-position: center 75%;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler:hover {
    background-color: #DDDDDD;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn-primary {
    background-color: #258af6;
}

.custom-font-lobster {
    font-family: 'Lobster', cursive;
}

.custom-font-arial-black {
    font-family: 'Arial Black', 'Gadget', sans-serif;
}

.custom-font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.custom-font-weight-bold {
    font-weight: 600 !important;
}

.custom-text-shadow {
    text-shadow: 0 0 5px black !important;
}

.custom-box-shadow {
    box-shadow: 0 0 5px black !important;
}

.custom-drop-shadow {
    filter: drop-shadow(0 0 2px black) !important;
}

.custom-bg-dark {
    background-color: #333333 !important;
}

.custom-border-darker {
    border-color: #222222 !important;
}

.custom-rounded {
    border-radius: 0.5rem !important;
}

.custom-url-input {
    border: none !important;
    border-bottom: 2px dotted white !important;
    background: none !important;
    color: white !important;
}

.custom-url-input:focus {
    outline: none !important;
    border-bottom-color: #258af6 !important;
}

.custom-hover-link-white:hover {
    color: #DDDDDD !important;
}

@media (min-width: 576px) {
    .custom-fixed-bottom-sm {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 200000;
    }
}

.custom-alert-danger {
    color: white;
    background-color: #ee3a3a;
    border-color: #cd1717;
    border-width: 2px;
}

.custom-text-danger {
    color: #ee3a3a;
    font-weight: bold;
}

@media (max-width: 576px) {
    .custom-sm-rotate-r-90 {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
}