body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/static/images/austria_bridge.jpg");
    background-position: center 75%;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-arial-black {
    font-family: 'Arial Black', 'Gadget', sans-serif;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.text-shadow {
    text-shadow: 0 0 5px black;
}

.box-shadow {
    box-shadow: 0 0 5px black;
}

.drop-shadow {
    filter: drop-shadow(0 0 2px black);
}

.bg-dark {
    background-color: #333333 !important;
}

.border-darker {
    border-color: #222222 !important;
}

.rounded {
    border-radius: 0.5rem !important;
}