.service {
    display: inline-block;
    width: 175px;
}

.service > img {
    margin: 1em auto;
    width: 75px;
}

#header {
    text-align: center;
    padding: 1em 0;
}

#header h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}

#main {
    text-align: center;
}

#servicesContainer {
    position: relative;
}

#arrow {
    margin: auto 2em;

    top: 50%;
    transform: translateY(-50%);
    width: 70px;
}

#sourcePlaylistUrl {
    display: inline-block;
}

#sourcePlaylistUrl input {
    width: 250px;

    margin-left: 8px;
    padding: 5px 5px 2px 5px;

    border: none;
    border-bottom: 2px dotted var(--secondary-color);
    background: none;

    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#sourcePlaylistUrl input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

#sourcePlaylistUrl input:focus {
    outline: none;
    border-bottom-color: var(--tertiary-color);
}