.container {
    text-align: center;
    margin-top: 4%;
}

#header {
    text-align: center;
    display: inline-block;
}

#header h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: normal;
    text-shadow: 0 2px 8px #000;
    margin: 0;
}

#header p {
    font-weight: bold;
}

#main {
    display: inline-block;
    margin: 0 auto;
}

.service {
    display: inline-block;
}

#arrow {
    margin: auto 1em;
    font-size: 40px;
}

#source-playlist-url {
    margin: 3em auto;
    background-color: #333;
    padding: 0.5em 1em;
    border-radius: 15px;
    box-shadow: 0 2px 8px #000;
}

#source-playlist-url input {
    margin-left: 8px;
    width: 200px;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    padding: 5px 3px 1px 3px;
}

#source-playlist-url input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

#source-playlist-url input:focus {
    outline: none;
}