#navBar {
    padding: 1em 2em;
}

#navBar #navLogo {
    display: inline-block;
    margin: auto 15px;
}

#navBar #navLogo a {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: normal;
    color: #fff;
}

#navBar ul {
    display: inline-block;
    padding: 0;
    list-style: none;
    position: fixed;
    margin-left: 1em;
}

#navBar li {
    display: inline-block;
    margin: auto 10px;
}

#navBar li a {
    text-decoration: none;
    font-family: 'Arial Black', 'Gadget', sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

#navBar li a:hover {
    color: #999;
}