.data {
    padding-left: 0.25em;
    font-weight: 300;
}

a.data {
    color: var(--secondary-color);
}

.listLabel {
    margin-bottom: 0.5em;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
}

#summary {
    margin: auto auto 3em;
    width: 70%;
}

#summaryTop {
    margin: 0 auto;
    text-align: center;
}

#toTopLink {
    margin-bottom: 0;
    font-weight: 300;
    font-size: smaller;
    text-align: center;
}

#toTopLink > a {
    color: var(--secondary-color);
}