body {
    margin: 0;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/austria_bridge.jpg");
    background-position: center 75%;
}

#navbar {
    padding: 1em 0;
}

#navbar #nav-logo {
    display: inline-block;
    margin: auto 15px auto 35px;
}

#navbar #nav-logo a {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 2px 8px #000;
}

#navbar ul {
    display: inline-block;
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline-block;
    margin: auto 10px;
}

#navbar li a {
    text-decoration: none;
    font-family: 'Arial Black', 'Gadget', sans-serif;
    color: #fff;
    text-shadow: 0 2px 8px #000;
    letter-spacing: 1px;
}

#navbar li a:hover {
    color: #aaa;
}

.header-container {
    text-align: center;
    margin-top: 5%;
}

#header {
    text-align: center;
    display: inline-block;
}

.main-container {
    text-align: center;
    margin-top: 5%;
}

#main {
    display: inline-block;
    margin: 0 auto;
}

.service {
    display: inline-block;
}

#arrow {
    margin: auto 1em;
}

#source-playlist-url {
    margin: 3em auto;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: smaller;
}

footer #copyright {
    margin: 1em;
}