.data {
    padding-left: 0.25em;
    font-weight: 200;
}

a.data {
    color: var(--secondary-color);
}

#summary {
    margin: auto 20em 3em 20em;
}

#summaryTop {
    margin: 0 auto;
    text-align: center;
}