.boxShadow {
    box-shadow: 0 0 5px var(--shadow-color);
}

.textShadow {
    text-shadow: 0 0 5px var(--shadow-color);
}

.dropShadow:not(inverted) {
    filter: drop-shadow(0 0 2px var(--shadow-color));
}

.dropShadow.inverted {
    filter: drop-shadow(0 0 2px var(--shadow-color-inverted))
}

.contentBox {
    margin: 1em;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 7px;
    text-shadow: none;
}

.dropDownMenu {
    padding: 1px 5px;

    border-radius: 5px;

    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    cursor: pointer;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 7px 20px;
    margin: 1em auto;
    border-radius: 7px;
    border: none;
    background: var(--tertiary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.button:hover {
    background: var(--tertiary-darker);
}

.button:active {
    position: relative;
	top: 1px;
    outline: none;
}