.boxShadow {
    box-shadow: 0 2px 5px #000;
}

.textShadow {
    text-shadow: 0 2px 5px #000;
}

.contentBox {
    margin: 1em;
    background-color: #333;
    padding: 1em;
    border-radius: 7px;
    text-shadow: none;
}