<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Playlist Bridge - {% block title %}{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="keywords" content="playlist, bridge, music, streaming, service, convert, songs">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css">

        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">

        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% include 'nav_bar.html' %}

        {% block body %}
        {% endblock %}

        <footer id="main-footer">
            <p id="copyright">&copy; 2020 Playlist Bridge</p>
            <p id="bg-photo-credit">Photo by <a target=_blank href="https://unsplash.com/@alexazabache?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alex Azabache</a> on <a target=_blank href="https://unsplash.com/s/photos/bridge?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
        </footer>

        {% block scripts %}
        {% endblock %}
    </body>
</html>