<!DOCTYPE html>
<html>
    <head>
        <title>Playlist Bridge - {% block title %}{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="author" content="Ethan Ratnofsky">
        <meta name="keywords" content="playlist, bridge, music, streaming, service, convert, songs">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">

        {% block head %}
        {% endblock %}
    </head>

    <body>
        <nav id="navbar">
            <span id="nav-logo">
                <a href="#">Playlist Bridge</a>
            </span>
            <ul>
                <li id="nav-home"><a href="#">HOME</a></li>
                <li id="nav-about"><a href="#">ABOUT</a></li>
                <li id="nav-help"><a href="#">HELP</a></li>
            </ul>
        </nav>

        {% block body %}
        {% endblock %}

        <footer id="main-footer">
            <p id="copyright">&copy; 2020 Playlist Bridge</p>
        </footer>
    </body>
</html>