<!DOCTYPE html>
<html>
    <head>
        <title>Playlist Bridge - {% block title %}{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="author" content="Ethan Ratnofsky">
        <meta name="keywords" content="playlist, bridge, music, streaming, service, convert, songs">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="../static/css/base.css">
        <link rel="stylesheet" type="text/css" href="../static/css/nav_bar.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap">

        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% include 'nav_bar.html' %}

        {% block body %}
        {% endblock %}

        <footer id="main-footer">
            <p id="copyright">&copy; 2020 Playlist Bridge</p>
        </footer>
    </body>
</html>