<footer class="custom-fixed-bottom-sm py-2 font-weight-light small custom-text-shadow">
    <div class="container-fluid">
        <div class="row text-center justify-content-between">
            <div class="col-sm-6 text-sm-left">
                &copy; 2020 Playlist Bridge
            </div>
            <div class="col-sm-6 text-sm-right">
                Photo by <a class="text-white" target=_blank href="https://unsplash.com/@alexazabache?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alex Azabache</a> on <a class="text-white" target=_blank href="https://unsplash.com">Unsplash</a>
            </div>
        </div>
    </div>
</footer>