{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    <meta name="description"
          content="Share your playlists without having to worry about gaps between music streaming services!">

    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}

{% block body %}
    <div class="mainContainer">
        <div id="header">
            <h1 class="textShadow">Playlist Bridge</h1>
            <p><i>Bridge the gap between music streaming services!</i></p>
        </div>
    </div>

    <div class="mainContainer">
        <div id="main">
            <form name="main_form">
                <div class="service">
                    <label for="srcService">Source Service</label>
                    <br>
                    <select class="boxShadow" id="srcService" name="src_service" required>
                        <option value="" disabled selected></option>
                        <option value="tidal">TIDAL</option>
                        <option value="spotify">Spotify</option>
                    </select>
                </div>
                <span id="arrow">&rarr;</span>
                <div class="service">
                    <label for="destService">Destination Service</label>
                    <br>
                    <select class="boxShadow" id="destService" name="dest_service" required>
                        <option value="" disabled selected></option>
                        <option value="tidal">TIDAL</option>
                        <option value="spotify">Spotify</option>
                    </select>
                </div>
                <div class="contentBox boxShadow" id="sourcePlaylistUrl">
                    <label for="srcUrl">Source Playlist URL: </label>
                    <input id="srcUrl" name="src_service_url" type="url" placeholder="Enter Playlist URL" required>
                </div>
                <div>
                    <input id="bridgeButton" type="submit" name="submit" value="Bridge">
                </div>
            </form>
        </div>
    </div>
{% endblock %}