{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    <meta name="description" content="Share your playlists without having to worry about gaps between music streaming services!">
{#    <link rel="stylesheet" type="text/css" href="/static/css/index.css">#}
{% endblock %}

{% block body %}
    {% include "navbar.html" %}

    <div class="container mt-3 mb-5">
        <div class="row-cols-1 text-center font-lobster font-weight-normal display-4 text-shadow">
            Playlist Bridge
        </div>
        <div class="row-cols-1 py-2 text-center font-open-sans font-italic font-weight-bold text-shadow">
            Bridge the gap between music streaming services!
        </div>
    </div>
{% endblock %}