<nav class="navbar navbar-expand-sm navbar-dark text-shadow">
    <a class="navbar-brand font-lobster font-weight-normal" href="{{ url_for("index") }}">Playlist Bridge</a>
    <button class="navbar-toggler box-shadow" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto font-arial-black text-uppercase">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("index") }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>