{% extends 'base.html' %}

{% block title %}Bridge Summary{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/summary.css">
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="textShadow">Bridge Summary</h1>
        <p><i>Thank you for using Playlist Bridge!</i></p>
    </div>

    <div class="contentBox boxShadow" id="summary">
        <p id="summaryTop">{{ '=' * 25 }} {{ playlist.src_service }} &rarr; {{ playlist.dest_service }} {{ '=' * 25 }}</p>
        <p>Playlist Name: <span class="data">{{ playlist.name }}</span></p>
        <p>Playlist Description: <span class="data">{{ playlist.description }}</span></p>
        <p>Playlist URL: <a class="data" href="{{ playlist_url }}" target="_blank" rel="noreferrer noopener">{{ playlist_url }}</a></p>
        <p class="listLabel">Full Playlist:</p>
        <ol id="playlistSongs">
            {% for song in playlist.songs %}
                <li><span class="data">{{ song.title }} - {% if song.artists|length == 1 %}{{ song.artists[0] }}
                {% elif song.artists|length == 2 %}{{ song.artists[0] }} and {{ song.artists[1] }}
                {% else %}
                    {% for artist in song.artists %}
                        {% if loop.last %}and {{ artist }}
                        {% else %}{{ artist }},
                        {% endif %}
                    {% endfor %}
                {% endif %}</span></li>
            {% endfor %}
        </ol>
        {% if excluded_songs|length != 0 %}
            <p class="listLabel">Excluded Song(s):</p>
            <ol id="excludedSongs">
                {% for song in excluded_songs %}
                    <li><span class="data">{{ song.title }} - {% if song.artists|length == 1 %}{{ song.artists[0] }}
                    {% elif song.artists|length == 2 %}{{ song.artists[0] }} and {{ song.artists[1] }}
                    {% else %}
                        {% for artist in song.artists %}
                            {% if loop.last %}and {{ artist }}
                            {% else %}{{ artist }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}</span></li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}